.blog-info {
    width: 25%;
    flex: 0 0 25%;
    text-align: right;
    @media (max-width: $md) {
        width: 100%;
        flex: 0 0 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .post-tag {
        padding-bottom: 1rem;

        a {
            font: 300 0.9em/1.2 $roboto;
        }
    }

    .blog-meta {
        padding-left: 0;

        a {
            display: inline-block;
            padding-bottom: 1rem;
            font-size: 0.9em;
            font-weight: 300;
            line-height: 1;
            vertical-align: middle;
            color: $sec-color;
        }
    }
}
