.mb-1r {
    margin-bottom: 1rem;
}
.mb-2r {
    margin-bottom: 2rem;
}

.my-1r {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ml-1r {
    margin-left: 1rem;
}

.mr-1r {
    margin-right: 1rem;
}

.mt-3r {
    margin-top: 3rem;
}