.banner {
  padding: 12em 2em 8em 2em;
  background: linear-gradient(to bottom, rgba(#000, 0.15), rgba(#000, 0.65)),
    url("../img/banner/banner-new.jpg") no-repeat top;
  background-size: cover;
  text-align: center;

  @media (max-width: $sm) {
    padding: 8em 2em;
  }

  &.single-banner {
    background: linear-gradient(to bottom, rgba(#000, 0.15), rgba(#000, 0.65)),
      url("../img/blog/main-blog/mainBlog-2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 200px;

    .b-title {
      margin-top: -5rem;
      margin-bottom: 0;
    }
  }

  .banner-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: $md) {
      width: 90%;
    }

    .cc-page-link {
      a {
        padding: 0.5rem 0;
        margin-left: 1rem;
        color: $break-white;
        transition: 0.25s ease-in;

        &:hover {
          color: $main-color;
        }
      }
    }

    p {
      color: #fff;
      // font-size: 1rem;
      font-weight: 400;
      margin-bottom: 2rem;
      letter-spacing: 0.5px;
      line-height: 2;

      @media (max-width: $md) {
        line-height: 1.5;
      }
    }
  }
}
