.cc-header {
    width: 100%;
    border-top: 4px solid $main-color;
    border-bottom: 4px solid $main-color;
    padding: 12px 0;
    background-color: transparent;
    color: $font-color;



    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: $md) {
        padding: 16px 0;
        &.show {
            .cc-navigation {
                transform: translateX(100%);
                visibility: visible;
            }
        }
    }

    .logo {
        @media (max-width: $md) {
            position: absolute;
            left: 50px;
            // top: 15px;
            width: 80px;
        }

        img {
            max-width: 150px;
        }
    }

    @import 'hamburger';

    @import 'navigation';
}
